*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box{
  width: 312px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left:  auto;
  margin-right:  auto;
}

.square{
  width: 100px;
  height: 100px;
  background-color : cadetblue;
  margin: 2px;
  text-align: center;
  line-height: 100px;
  font-size: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.tt{
  margin-top: 20px;
}

h1{
  text-align: center;
  color: rgb(243, 147, 38);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#btn{
margin-top: 20px;
text-align: center;
visibility: hidden;
}
button{
  height: 50px;
  width: 150px;
  background-color: rgb(229, 173, 32);
  font-size: 25px;
  border-radius: 4%;
  border: none;
}